/****************
GLOBALS
****************/

body{
	font:15px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #9099A2;
	text-align:center;
	color:white;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
	margin-top: 30px;
}

ul{
	padding: 0;
	margin: 0;
	display: block;
}

a{
	text-decoration: none;
	color:/*#1f1f1e;*/ white;
}

hr{
	margin:auto;
}

/**************
HEADER
**************/

/* the entire top nav bar */
.navbar{
	background-color:#5D5C61;
	font-weight: bold;
	top: 0;
	position: fixed;
	width: 100%;
	min-height: 52px;
}

.logospace{
	display: inline-block;
	margin: 0;
}

.linkedin{
	max-width: 35px;
	max-height: 35px;
}

.twitter{
	max-width: 35px;
	max-height: 35px;
}

/* STEFAN NOVAK */
.left-header h1{
	font-size: 35px;
	float: left;
	margin:0;
	padding-left: 190px;
}


/* the whole right side */
.right-links{
	float: right;
	display: block;
	list-style: none; /* gets rid of bullet points */
	font-size: 20px;
	text-align: center;
	padding-top: 11px;
	padding-right: 200px;
}

/* project about-me contact */
.right-links li{
	display: inline; /* horizontal*/
	padding:0 30px;
}

.right-links li:not(:last-child){
	border-right: solid 1px /*#1f1f1e;*/ white;
}

/* white underlines */
.navbar .right-links a:hover {
	border-bottom: 1px solid #fff;
	padding-bottom: 5px;
}

/**************
MYSELF
**************/
header {
	min-height: 300px;
	margin-top: 5%;
	padding-bottom: 1%;
	border-bottom: solid 1px white;
}

.face{
	max-height: 200px;
	max-width: 200px;
	border-radius: 50%;
	border:solid 3px #fff;
	margin: 0 auto 10px;
}

header h1{
	margin:0;
	padding:0;
}

header h1 span{
	border-right: 1px solid white;
	padding: 0 10px;
}

header hr{
	padding: 0;
	margin-top: 0;
    max-width: 270px;
    border: 0;
    border-top: solid 1px;
}

header p{
	padding-bottom: 10px;
	margin-bottom: 0;
	margin-top: 5px;
}

/***************
MY PROJECT
***************/

.project h1{
	margin-top: 0;
	padding-top: 0;
}

.project hr{
	max-width: 60%;
}

.project img{
	max-height: 700px;
	max-width: 700px;
	border-radius: 1%;
	padding: 1%;
}

.project p{
	padding: 2%;
	margin-bottom: 0;
}



/***************
BOXES
***************/
.boxes{
	padding: 1% 0 3%;
	background-color: #5D5C61;
}

.box hr{
	width: 120px;
	margin-top: 0;
	padding-top: 0;
}

.boxes p{
	padding:0 40px 30px;
	font-size: 13px;
}

.boxes ul{
	padding:3% 0;
}

.boxes h2{
	font-size: 20px;
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	color:#fff;
}

.boxes hr{
	max-width: 30%;
}

.boxes .box{
	float:left;
	text-align: center;
	width: 33%;
}

.boxes .box:not(:last-child){
	border-right: solid 1px white;
	height: 200px;
}

.skill-list{
	list-style:inside;
	list-style-type: circle solid;
}

/***************
CONTACT
***************/
.contact{
	padding-bottom: 1%;
	padding:0 15%;
	margin:0 0%;
}

.contact .box1{
	float:left;
	width: 50%;
	margin:0;
	padding:0%;
}

.contact h1{
	padding-bottom: 0;
	margin-bottom: 0;
	margin-top: 0;	
}

.contact hr{
	max-width: 25%;
	padding-top: 0;
	margin-bottom:3%;
}

.contact input{
	width: 90%;
	box-sizing: border-box;
	margin: 5px 0;
	padding: 15px;
	border-radius: 4px;
}

.contact textarea{
	width: 90%;
	height: 171px;
	resize: none;
	border-radius: 4px;
	border:none;
}

.contact button{
	margin: 10px 0;
	padding: 12px 20px;
  	border: none;
  	border-radius: 4px;
  	cursor: pointer;
  	width: 15%;
}


/***************
FOOTER
***************/

.footer{
	background-color: #5D5C61;
	color:white;
	position:relative;
	padding: 0;
    width:100%;
    height: 2%;
    border-top:solid 1px white;
}

footer p{
	padding: 0;
	margin: 0;
}

/**************
MEDIA QUERIES
**************/
@media(max-width: 768px){
	nav.navbar{
		position: static;
		min-height: 150px;
	}

	nav, nav img{
		float:none;
		text-align: center;
		width:100%;
	}

	nav .branding{
		padding:0 15.2%;
		max-width: 100%
	}

	nav .right-links{
		padding: 0;
		max-width: 100%;
		padding-right: 33px;
	}

	nav .right-links li{
		padding: 0;
		padding:0 3px;
	}

	nav .right-links li:not(:last-child){
	border-right: none;
}


	.myself{
		padding-top: 0px;
		max-height: 100%;
	}

	.project h1{
		margin-bottom: 0;
	}

	.project img{
		padding:10px 0;
	}

	.boxes .box:not(:last-child) {
		border-right:none;
		float: none;
		width:100%;
	}

	.boxes .box{
		float:none;
		width:100%;
		display: block;
		margin-bottom: 15%;
	}

	.contact .box1{
		float:none;
		padding: 0;
		margin:0;
		width: 100%;
	}

	.contact textarea{
		width: 249.75px;
		border:0;
		padding:0;
		margin-top:5px;
	}

	.contact button{
		width: 100%;
		text-align: center;
	}
}